.route-ember_addons_mines {
  form {
    padding-left: $grid-gutter-width;
  }
  .paypal-logo > img {
      height: 14px;
  }
  .img-beer > img {
    height: 64px;
    margin-bottom: $grid-gutter-width / 2;
  }
}
