body {
  margin-top: $navbar-height + $grid-gutter-width;
  margin-bottom: $bottom-navbar-height + $grid-gutter-width;
}

.navbar-brand img {
  display: inline;
}

.navbar {
  img {
    height: 24px;
  }
}

.navbar[role="footer"] {
  min-height: 0;
  height: $bottom-navbar-height;
  .container {
    margin-top: 10px;
    color: $navbar-inverse-color;
  }
  .container, .container > * {
    vertical-align: middle;
  }
  .ember-logo {
    height: 18px;
    margin-top: -10px;
  }
}
