.npm-package {
  &:nth-child(odd) {
    background-color: darken($panel-default-heading-bg, 5%);
  }
  &.isnt-collapsed {
    background-color: $panel-success-heading-bg;
  }
  &.isnt-collapsed:nth-child(odd) {
    background-color: darken($panel-success-heading-bg, 5%);
  }
  .list-group-item-heading {
    .repo-icon {
      img {
        height: 32px;
      }
    }
    .wrapped {
      opacity: 0.3;
    }
  }
  .list-group-item-text {
    .repo-icon {
      position: absolute;
      right: $grid-gutter-width;
      margin-top: - $grid-gutter-width;
      img {
        height: 80px;
      }
    }
  }
  .repo-icon {
    border-radius: $rounded-corners-radius;
  }
  background-color: $panel-default-heading-bg;
  .badge {
    > a, > a:hover, > a:visited, > a:focus {
      color: inherit;
    }
  }
}
