.clickable {
  cursor: pointer;
}

.text-download {
  color: $download-text;
}
.text-star {
  color: $star-text;
}
.rounded-corners {
  border-radius: $rounded-corners-radius;
}
span.img-wrap > img {
  border-radius: inherit;
}
