<nav class="navbar navbar-inverse navbar-fixed-bottom" role="footer">
  <div class="container text-center">
    <a href="http://emberjs.com" target="_blank" title="Powered by EmberJS">
      <img src="/images/ember-logo-text.png" alt="EmberJS" class="ember-logo"/>
    </a>

    <i class="split-vertical"></i>

    <span title="Follow me!">
      <iframe src="//ghbtns.com/github-btn.html?user=huafu&type=follow&count=true"
              frameborder="0"
              scrolling="0"
              width="140px"
              height="20px"
              allowtransparency="true"></iframe>
      <iframe
          src="//platform.twitter.com/widgets/follow_button.html?screen_name=huafu_g"
          style="width: 200px; height: 20px;"
          allowtransparency="true"
          frameborder="0"
          scrolling="no">
      </iframe>
    </span>
  </div>
</nav>
