<nav class="navbar navbar-inverse navbar-fixed-bottom" role="footer">
  <div class="container text-center">
    <span class="hidden-xs">Powered by</span>
    <a href="http://emberjs.com" target="_blank" title="Powered by EmberJS">
      <img src="/assets/images/ember-logo-text.png" alt="EmberJS" class="ember-logo"/>
    </a>

    <i class="split-vertical"></i>

    <iframe
        src="//ghbtns.com/github-btn.html?user=huafu&type=follow&count=false"
        frameborder="0"
        scrolling="0"
        allowtransparency="true"
        class="social-button github-follow"
        title="Follow me on GitHub"></iframe>
    <iframe
        src="//platform.twitter.com/widgets/follow_button.html?screen_name=huafu_g&show_count=false"
        allowtransparency="true"
        frameborder="0"
        scrolling="no"
        class="social-button twitter-follow"
        title="Follow me on Twitter">
    </iframe>
    <iframe
        src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhuafu.github.io%2F&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=20&amp;appId=421356328030791"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        class="social-button facebook-like"
        title="Like/share my website"></iframe>
  </div>
</nav>
