<h2>Hello!</h2>
<p>
  Hey you! Welcome on my homepage!
</p>
<p>
  I first created this page to have everything about my projects in one place, and not
  in many places as until now.
</p>
<p>
  But the goal is also to package some other information I judge useful one here. Could be tech or
  non tech ;-)
</p>
<p>
  Anyway, I hate writing and I am bad at it, plus my native language is not english so do not expect
  correct english, my apologizes.
</p>
