<div class="jumbotron">
  <img {{bind-attr src=me.photoUrl alt=me.displayName}}
       class="img-circle pull-right"/>
  <h1>Hello!</h1>
  <p>
    I am <strong>{{me.displayName}}</strong>, a senior frontend and backend developer. I love
    coding, especially when it's for the
    <abbr title="Open Source Software" class="initialism">OSS</abbr> community.
  </p>
</div>

<p>
  I am expert in <em>JavaScript</em>, <em>SQL</em> and <em>PHP</em>, tho I definitely prefer
  coding applications or websites using JavaScript.
  I know many more other languages like <em>Java</em>, <em>ActionScript</em>, <em>PL/SQL</em> or
  <em>C</em> but even if am I good at them I am not an expert. I of course know pretty well
  <em>HTML</em> and <em>CSS</em>.
</p>
<p>
  I mostly code frontend complex <abbr title="Single Page Application" class="initialism">SPA</abbr>
  using <a href="http://emberjs.com/">EmberJS</a> framework which I know very well.
</p>
<p>
  I was born {{ago me.wasBornAt}} in Paris (France) but {{ago me.address.createdAt}} I
  I moved in Thailand to live with my wife and 3 children in the deep country side of Isaan.
</p>
<p>
  I speak and write/read fluently French and English, correctly Spanish and I can also speak some
  Thai which I am currently improving.
</p>
